# This is an example of the .env file that should be created in the root of the project
# Copy this file to .env and replace the values with your own

STEAM_API_KEY="xxx"
STEAM_USER_ID="xxx"
BACKGROUND_JOBS_ENABLED="false"
